body{
width:90%;
  margin:auto;
}
#contact{
text-align:right;
}
#logo{
  float:left;
  width:20px;
  height:50px;
}
h1,h2{
height:10px;
}
#mainmenu{
  text-align:right;
  background-color:blue;
  margin-top:20px;
  padding:10px;
  color:white;
  font-weight:bold;
}
#mainimage{
  width:100%;
}
#latestnews{
width:40%;
  height:100px;
  float:left;
}
#aboutus{
width:58%;
  height:100px;
 float:right;
}
#latestnewshead{
  background-color:red; 
  color:white;
 
}
#aboutushead{
  background-color:blue;
  color:white;
   
}
#marqueestyle{
  background-color:beige;
  padding:10px;
  height:100px;
}
#aboutusde{
  background-color:beige;
  padding:10px;
  test-align:justify;
}
